
* {
  box-sizing: border-box;
}

.test_this {
    background: linear-gradient(red, yellow, purple); /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}


.test_this:hover {
  border: solid 1px rgba(69, 111, 119, .5);
  color: grey;
}

/*.slice text {
  font-size: 16pt;
  font-family: Arial;
}*/
